openapi: 3.0.3
info:
  title: DeMI-SRO Embassy Node API
  description: |
    Техническая спецификация интерфейсов регионального Посольства (Embassy Node) консорциума DeMI-SRO. 
    Все вызовы требуют обязательной аутентификации на уровне транспортного слоя через **mTLS** 
    (Mutual TLS с проверкой клиентских сертификатов). Трафик изолирован внутри сети MPLS VPN.
  version: 1.0.0
servers:
  - url: https://demi-sro.org
    description: Глобальный балансировщик (Capacity-Aware Round-Robin)
  - url: https://demi-sro.org
    description: Посольство Индии (Локальный RPC)
  - url: https://demi-sro.org
    description: Посольство Пакистана (Локальный RPC)
paths:
  /epoch/submit:
    post:
      summary: Отправка агрегированного реестра (Epoch Batch)
      description: Вызывается платежным движком агрегатора каждые 10 минут (эпоха) для фиксации хэша транзакций в блокчейн-реестре.
      operationId: submitEpochBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EpochSubmission'
      responses:
        '202':
          description: Реестр принят нодой и поставлен в очередь на батчинг в Ethereum L1
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionResponse'
        '401':
          description: Ошибка mTLS авторизации или скомпрометированный сертификат
        '402':
          description: |
            Ошибка ERC-20 Allowance. Агрегатор не авторизовал (Approve) 
            списание необходимого объема стейблкоинов в пользу смарт-контракта компенсационного фонда.
          content:
            application/json:
              schema:
                type: OBJECT
                properties:
                  error_code:
                    type: STRING
                    example: "INSUFFICIENT_ALLOWANCE"
                  message:
                    type: STRING
                    example: "Contract is not authorized to transfer tokens. Call approve() first."
                  required_allowance_usd:
                    type: NUMBER
                    format: FLOAT
                    example: 462.75
        '422':
          description: Ошибка валидации Merkle Root или некорректная структура JSON

  /claims/request:
    post:
      summary: Запрос компенсации из фонда СРО
      description: Инициирует выплату стейблкоинов (USDC/USDT) из компенсационного фонда при подтверждении отложенного фрода/чарджбэка.
      operationId: requestClaim
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimRequest'
      responses:
        '200':
          description: Чарджбэк успешно компенсирован, транзакция выполнена на ончейн-уровне
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'
        '400':
          description: Превышен лимит выплаты (MAX_CLAIM_LIMIT) или недостаточно ликвидности в пуле

components:
  schemas:
    EpochSubmission:
      type: OBJECT
      required:
        - merchant_id
        - epoch_id
        - batch_root
        - metrics
      properties:
        merchant_id:
          type: STRING
          description: Уникальный байтовый идентификатор мерчанта (bytes32 хэш)
          example: "0x7465737400000000000000000000000000000000000000000000000000000000"
        epoch_id:
          type: INTEGER
          description: Порядковый номер 10-минутного интервала
          example: 10842
        batch_root:
          type: STRING
          description: Корневой хэш дерева Меркла (Merkle Root) всех транзакций эпохи
          example: "0x3a4f8e7b9c1d2e3f4a5b6c7d8e9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f"
        metrics:
          type: OBJECT
          required:
            - total_volume_usd
            - total_chargebacks_usd
            - transaction_count
          properties:
            total_volume_usd:
              type: NUMBER
              format: FLOAT
              description: Общий оборот мерчанта за эпоху в USD
              example: 154250.00
            total_chargebacks_usd:
              type: NUMBER
              format: FLOAT
              description: Сумма выявленных чарджбэков за эпоху в USD
              example: 420.00
            transaction_count:
              type: INTEGER
              description: Количество транзакций в батче
              example: 3120

    SubmissionResponse:
      type: OBJECT
      properties:
        status:
          type: STRING
          enum: [QUEUED, PROCESSED, REJECTED]
          example: "QUEUED"
        batch_root:
          type: STRING
          example: "0x3a4f8e7b9c1d2e3f4a5b6c7d8e9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f"
        calculated_premium_usd:
          type: NUMBER
          format: FLOAT
          description: Размер динамического страхового взноса, списываемый смарт-контрактом
          example: 462.75
        risk_tier:
          type: INTEGER
          description: Текущий уровень риска мерчанта (1 = Low, 2 = Medium, 3 = High)
          example: 2
        estimated_gas_eth:
          type: STRING
          description: Прогноз стоимости газа для фиксации батча валидатором на L1
          example: "0.0042"

    ClaimRequest:
      type: OBJECT
      required:
        - merchant_id
        - claim_id
        - amount_usd
        - evidence_hash
        - destination_wallet
      properties:
        merchant_id:
          type: STRING
          example: "0x7465737400000000000000000000000000000000000000000000000000000000"
        claim_id:
          type: STRING
          description: Идентификатор чарджбэка из банковского реестра
          example: "99214-X"
        amount_usd:
          type: NUMBER
          format: FLOAT
          description: Сумма компенсации (ограничена $500)
          example: 350.00
        evidence_hash:
          type: STRING
          description: Криптографическое доказательство чарджбэка (хэш официального файла банка)
          example: "0x88f24b99aaecf87135...0112"
        destination_wallet:
          type: STRING
          description: ETH-адрес кошелька агрегатора для зачисления выплаты
          example: "0x9E7D88f24b99aaecf87135acde421B99aaecf871"

    ClaimResponse:
      type: OBJECT
      properties:
        status:
          type: STRING
          example: "SETTLED"
        transaction_hash:
          type: STRING
          description: Хэш транзакции в публичной сети Ethereum L1
          example: "0xbc5588f24b99aaecf87135acde421B99aaecf87135acde421B99aaecf8711122"
        amount_paid_usd:
          type: NUMBER
          format: FLOAT
          example: 350.00
